#index{
    display:flex;
    flex-direction: column;
    width:15%;
    height:100%;
    position:fixed;
    background-color: #3C6255;
    color: #EAE7B1;
    flex-direction: column;
    font-family: 'Century Gothic';
    font-weight: 500;
    min-width: 200px;
    /*padding-right: 10px;
    padding-left: 10px;
    border-right-style: solid;
    border-right-width: 10px;
    border-right-color: #61876E;*/
}
.body{
    position: fixed;
    display: flex;
    margin-left: max(200px, 15%);
    width: 85%;
    height: 100%;
    flex-direction: column;
}
.body .table{
    height: min-content;
}
#title{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 15px;
    background-color: #EAE7B1;
    height: 75px;
    width: 80%;
}
#title p{
    margin-left: 3%;
    margin-top: 3%;
    font-size: 50px;
    color:#61876E;
    font-weight: 600;
    letter-spacing: 15px;
}
#title button{
    margin-left: auto;
    margin-right: max(15px,1%);
    align-self: center;
    background-color: #61876E;
    color: #EAE7B1;
    font-family: inherit;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 230px;
    transition: 0.5s;
}
#title button:hover{
    background-color:#3C6255;
    color:#EAE7B1;
    cursor: pointer;
    transition: 0.5s;
}
#list{
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
#list .item{
    color: #EAE7B1;
    font-family: inherit;
    font-weight: 300;
    background-color: #3C6255;
    width: max(200px, 20%);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 15px;
    transition: 0.5s;
    font-size: 20px;
    text-decoration: none;
}
#list .item:hover{
    color:#3C6255;
    background-color: #EAE7B1;
    transition: 0.5s;
}