/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: 'Century Gothic', "Helvetica Neue", sans-serif;
    background-image: linear-gradient(135deg, #3C6255, #61876E, #A6BB8D, #EAE7B1); }
